apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  labels:
    app: spring-boot-k8s
data:
  SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/database
  SPRING_DATASOURCE_USERNAME: user
  SPRING_DATASOURCE_PASSWORD: password
  SPRING_JPA_HIBERNATE_DDL_AUTO: update